<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0c layout-reverse">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
    
    <script src="/public/lib/pjax.min.js"></script>
    <script>
      (function() {
        if (typeof Pjax === 'undefined') return;

        var pjax = new Pjax({
          cacheBust: false,
          selectors: [
            "title",
            "meta[name=description]",
            ".content.container",
          ]
        })
      })()
    </script>
    
    <!--
      Simple Analytics
      The analytics tool that doesn't track you.
      https://simpleanalytics.com
    -->
    <script async crossorigin="anonymous" src="https://simpleanalyticscdn.b-cdn.net/test.js"></script>
  </body>
</html>
